<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
	<sitecore>
		<layoutService>
			<configurations>
				<config name="sxa-jss">
					<requestContext role:require="ContentDelivery">
						<databaseName patch:delete="databaseName"/>
						<databaseName>web</databaseName>
					</requestContext>
				</config>
			</configurations>
		</layoutService>
	</sitecore>
</configuration>